{% extends "base.html" %}
{% block path_to_stylesheet %}/stylesheets/wiki_styles.css{% endblock %}
{% block content %}
  <div id="top-panel-wrapper">
    <div id="top-panel">
      {# TODO: rename 'state' to 'mode' #}
      {% if state != 'view' or article.url != '/' %}
        <span class="top-panel-section">
          <a href="/" id="homepage-link">Home</a>
        </span>
      {% endif %}
      {% if state == 'view' or state == 'edit' %}
        <span class="top-panel-section">
          <a id="history-link" href="/_history{{ article.url }}">History</a>
        </span>
      {% endif %}
      {% if user %}
        {% if state == 'view' or state == 'history' %}
          <span class="top-panel-section">
          {% if article.version.is_latest() %}
            <a href="/_edit{{ article.url }}"
               id="edit-article-link">Edit Article</a>
          {% else %}
            <a href="/_edit{{ article.url }}/_version/{{ article.version.id }}"
               id="edit-article-link">Edit Article</a>
          {% endif %}
          </span>
        {% endif %}
        <span class="top-panel-section">
          Logged in as <span id="username">{{ user.name }}</span>
          (<a href="/logout" id="logout-link">Sign Out</a>)
        </span>
      {% else %}
        <span class="top-panel-section">
          <a href="/login" id="login-link">Sign In</a>
        </span>
        <span class="top-panel-section">
          <a href="/signup" id="signup-link">Sign Up</a>
        </span>
      {% endif %}
    </div>
  </div>
  <div id="wiki-content">
    {% block wiki_content %}{% endblock %}
  </div>
{% endblock %}