{% extends "base.html" %}
{% block title %}
    {% block title_base %}{% endblock %}
    {% block title_postfix %}{% endblock %}
{% endblock %}
{% block path_to_stylesheet %}/stylesheets/wiki_styles.css{% endblock %}
{% block content %}
    <div id="top-panel-wrapper">
        <div id="top-panel">
            {% if user %}
                {% if page %}
                    <span class="top-panel-section">
                        <a href="/_edit{{ page.url }}" id="edit-page">Edit Page</a>
                    </span>
                {% endif %}
                <span class="top-panel-section">
                    Logged in as <span id="username">{{ user.name }}</span> (<a href="/logout">Sign Out</a>)
                </span>
            {% else %}
                <span class="top-panel-section"><a href="/login">Sign In</a></span>
                <span class="top-panel-section"><a href="/signup">Sign Up</a></span>
            {% endif %}
        </div>
    </div>
    {% block wiki_content %}{% endblock %}
{% endblock %}