{% extends "wiki/base.html" %}
{% block wiki_content %}
  <ul id="versions">
    {% for version in article.all_versions() %}
      <li>
        Version of
        <span class="timestamp">{{ version.created|timestampformat }}</span>
        {% if loop.last %}
          <span class="distinction-label">(new article)</span>
        {% elif loop.first %}
          <span class="distinction-label">(current)</span>
        {%- endif %}
      | <a class="version-view-link" href="{{ version.key().id() }}">view</a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}