{% extends "wiki/base.html" %}
{% block wiki_content %}
  <ul id="versions">
    {% for version in article.all_versions() %}
      <li>
        <span class="history-element-section">
          Version of
          <span class="timestamp">{{ version.created|timestampformat }}</span>
            {% if loop.last -%}
              <span class="distinction-label">(new article)</span>
            {%- endif %}
            {% if loop.first -%}
              <span class="distinction-label">(current)</span>
            {%- endif %}
        </span>
        <span class="history-element-section">
          <a class="version-view-link"
             href="{{ view_version_url(article.url, version.id) }}">view</a>
        </span>
        <span class="history-element-section">
          <a class="version-edit-link"
             href="{{ edit_version_url(article.url, version.id) }}">edit</a>
        </span>
      </li>
    {% endfor %}
  </ul>
{% endblock %}