{% extends "wiki/base.html" %}
{% block wiki_content %}
  <div id="wiki-article">
    <div id="ts-version">
      Version of <span class="timestamp">{{ article.modified|timestampformat }}</span>
      {% if article.version.is_first() -%}
        <span class="distinction-label">(new article)</span>
      {%- endif %}
      {% if article.version.is_latest() -%}
        <span class="distinction-label">(current)</span>
      {%- endif -%}
    </div>
    <div id="wiki-body">
      {{ article.content|safe }}
    </div>
  </div>
{% endblock %}