textarea {
    width: 100%;
}

.distinction-label {
    font-weight: bold;
}

.history-element-section {
    padding-right: 20px;
}

.top-panel-section {
    text-align: right;
    padding-left: 5px;
    padding-right: 5px;
}

#error-detail, #wiki-body {
    margin: 1.12em 0
}

#top-panel-wrapper {
    width: 100%;
    padding-bottom: 10px;
}

#top-panel {
    float: right;
}

#ts-version {
    font-size: small;
    margin-top: -1em;
    color: grey;
}

#username {
    font-weight: bold;
}

#wiki-content {
    margin: 15px;
}
