{% extends "auth/base.html" %}
{% block title %}Sign Up{% endblock %}
{% block head %}Create new user account{% endblock %}
{% block auth_content %}
    <form method="post">
        <div>{{ form.username.label }}: {{ form.username() }}</div>
        <div>{{ form.password.label }}: {{ form.password() }}</div>
        <div>{{ form.verify.label }}: {{ form.verify() }}</div>
        <div>{{ form.email.label }}: {{ form.email() }}</div>

        {% if form.errors %}
        <ul class="form-errors">
        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
            {% for error in field_errors %}
                <li>{{ error }}</li>
            {% endfor %}
        {% endfor %}
        </ul>
        {% endif %}
        <input type="submit" value="Create">
    </form>
    <div class="auth-alternative">
        Already a user? <a href="/login" id="auth-alternative-link">Sign in!</a>
    </div>
{% endblock %}